:root {
    --shadow: 0 1px 4px 1px rgba(104,104,104,0.8);
}
html {
    margin: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif; 
    background-color: #E2E5D2;
    
}

header {
    max-height: 250px;
    background-color: rgb(131, 163, 156);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.transparent_background {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/header_logo.png?raw=true");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    min-height: 200px;
    opacity: 0.1;
     
}

.onTop {
    color: rgb(51, 39, 48);
    position: relative;
    top: -160px;
}

#title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}



main {
    padding: 0 30px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-areas: 
    "img-div tribute-info";
}

#quote {
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
    
}

.wrapper {
    display: grid;
    grid-gap: 40px;
}

#img-div {
    grid-area: img-div;

}

figcaption {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    text-align: center;
}


#image {
    max-width: 100%;
    box-shadow: var(--shadow);
}

#tribute-info {
    grid-area: tribute-info;

}
#tribute-heading {
    margin-top: 0;
}

.tribute-info-para {
    line-height: 1.5rem;
}

#tribute-link {
    color: #929292;
    text-decoration: none;
}

#tribute-link:hover {
    color: rgb(51, 39, 48);
}

#portfolio {
    padding: 0 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.pictures {
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow);
}

#pic1 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic1.jpg?raw=true")
}
#pic2 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic2.jpg?raw=true")
}
#pic3 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic3.jpg?raw=true")
}
#pic4 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic4.jpg?raw=true")
}
#pic5 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic5.jpg?raw=true")
}
#pic6 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic6.jpg?raw=true")
}
#pic7 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic7.jpg?raw=true")
}
#pic8 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic8.jpg?raw=true")
}
#pic9 {
    background-image: url("https://github.com/dpb7/TributePage/blob/master/img/pic9.jpg?raw=true")
}

footer {
    background-color: rgb(131, 163, 156);
    text-align: center;
}

@media(max-width: 700px) {
    
    #title {
        font-size: 2.8rem;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
    "img-div"
    "tribute-info"
    }
    

}
@media(max-width: 500px) {
    .pictures {
        min-height: 300px;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
    "img-div"
    "tribute-info"
    }

    #title {
        font-size: 2.2rem;
    }

    #quote {
        font-size: 1.4rem;
    }

    #img-div {
        min-height: 300px;
        background-position: top right;
        background-size: cover;
        

    }
    
}
